<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComicApp"
        tools:targetApi="31">

        <!-- Màn hình chính: Truyện đang theo dõi -->
        <activity
            android:name=".ui.ActivityUser.WelcomeActivity"
            android:exported="true"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình thông tin tài khoản -->
        <activity
            android:name=".ui.ActivityUser.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.ComicDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.ReadComicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.SelectMusicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.FollowActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ActivityAdmin.ManageComicsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityAdmin.ComicDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityAdmin.AddComicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityAdmin.ComicDetailAdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityUser.ChapterListActivity"
            android:exported="false" />
        <service android:name=".service.MusicService" android:exported="false"/>
        <activity
            android:name=".ui.ActivityUser.UserActivity"
            android:exported="false" />
    </application>

</manifest>
